body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#imageDisplay img {
    max-width: 100%;
    max-height: 80vh;
    margin: 20px 0;
    display: none;
}
input[type='file'] {
    color: transparent;
    display: inline;
}
input {
    display: none;
    padding: 4px;
}
.btn {
    position: absolute;
    bottom: 2%;
}